config.json
service_account.json
*.env
.env*

logs/
node_modules/
node-runtime/
bundled-apps/
backup-fontfix-*/
backup-fontfix-*

data/*.json
data/update-backups/
data/update-version.json

*.log
*.zip
*.7z
*.rar
*.exe
*.dll
*.pyd
*.pyc
__pycache__/
